@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
:root {
  --primary-color: #292a2d;
  --accent-color: #202123;
  --text-color: #f0f0f0;
  --icon-color: #f0f0f0;
}
body,
html {
  color: var(--text-color);
  text-align: center;
  overflow-x: hidden;
  font-family: "Exo 2";
  scroll-behavior: smooth !important;
  margin: 0;
  background-color: var(--primary-color);
}
#title-container {
  height: 150px;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  background-color: var(--accent-color);
}

#floating {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 999999999;
  display: block;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  align-items: center;
  display: flex;
  border-radius: 50%;
  border: 2px solid #000;
  width: 35px;
  height: 35px;
  left: 50%;
  animation: md 2s infinite ease-in-out;
}
#floating:hover {
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  background-color: #5d3fd3;
  border-color: #5d3fd3;
}
#arrow {
  height: 16px;
  color: #000;
  width: 100%;
  transition: color 0.5s;
}

@keyframes md {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}
#title {
  margin: auto;
  text-align: center;
  font-family: "Comfortaa";
  font-size: 73px;
}
.slideinleft {
  position: absolute;
  left: -100%;
  transition: left 1s;
}
.slideinright {
  position: absolute;
  right: -100%;
  transition: right 1s;
}
.slideintop {
  top: -150px;
  transition: top 1s;
}
.slideinbottom {
  transition: bottom 1s;
  bottom: -300px;
}
.container {
  height: 350px;
  width: 100%;
  user-select: none;
  position: relative;
}
#creditscontainer {
  position: relative;
}
#credits {
  height: 300px;
  width: 100%;
  background-color: var(--accent-color);
}
::-webkit-scrollbar {
  width: 16px;
  border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5d3fd3;
  border: 4px solid var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
#sus {
  color: #fff;
}
.ccontent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.brief {
  width: 550px;
  font-size: large;
  position: relative;
}
.en {
  position: absolute;
  font-size: 75px;
  transition: color 0.5s, left 0.5s, right 0.5s;
  color: #fff;
  cursor: pointer;
  margin: auto;
  top: 35%;
}
.img {
  position: relative;
  width: 450px;
}
#imagecontainer {
  position: absolute;
  height: 1154px;
  width: 100%;
}
#imagecontainer > img {
  height: 1154px;
  width: 100%;
}
#content {
  margin-top: 1154px;
}
#sources {
  width: 250px;
  text-align: left;
  margin-left: 25%;
  display: block;
  margin-top: 0;
}
a {
  color: #5d3fd3;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: lightblue;
}

.imgscontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.caption {
  color: #f0f0f0;
}
#real-mountain {
  height: 250px;
  width: 500px;
}
.mbg {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  animation: fadein 0.5s linear forwards;
  z-index: 1000000001;
  align-content: center;
  align-items: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0vh;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow: auto;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #5d3fd3;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 10px auto;
}
.button:hover {
  background: #5d3fd3;
  box-shadow: 0 2px 4px -1px rgb(255 255 255 / 20%),
    0 4px 5px 0 rgb(255 255 255 / 14%), 0 1px 10px 0 rgb(255 255 255/ 12%);
}
.modal {
  background-color: #292a2d;
  text-align: center;
  transition: background-color 0.5s ease;
  margin: auto;
  padding: auto;
  position: absolute;
  width: 550px;
  height: auto;
  overflow: auto;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 8px;
  z-index: 1000000000;
}
#mti {
  align-items: center;
  justify-content: center;
  align-content: center;
}
#mti > i, #mti > i::before{
  height: 38px;
  width: 38px;
}
.fa-circle-info, .fa-circle-info::before {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#disclaimer {
  font-size: xx-small;
  width: 200px;
  display: block;
  margin:auto;
}
.additional {
  display: none;
}